.what-we-make-title {
  font-family: "Diphylleia", serif !important;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 4em !important;
  letter-spacing: 2px;
}

.text-bg-dark {
  border: none !important;
}

.card-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  font-family: "Diphylleia", serif;

  letter-spacing: 1px;
}
