.what-we-make-title {
  font-family: "Diphylleia", serif !important;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 4em !important;
  letter-spacing: 2px;
}

.text-bg-dark {
  border: none !important;
}

.text-bg-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.text-bg-dark:hover::before {
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.9);
}

.card-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  font-family: "Diphylleia", serif;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
}

.ourProducts {
  border-bottom: 1px solid beige;
}
